.body { display: flex;
    justify-content: center;
background-color: #f8e3ea;
}

.img {
position: fixed;
width: 34%;
z-index: 2;
top: 5%;
bottom: 2%;
left: 12%;
box-shadow: 0px 10px 100px 20px #8f8f8f;

}

.page {
    position: fixed;
    top: 10%;
    bottom: 10%;
    width: 90%;
    background-color: #ffffff;
}
